<div id="main_wrapper">
      <div id="cart_container">
        <div id="title">Payment Details</div>
        <div id='form_container'>
          <!--Need to post to the checkouts#create route nested in the directory of the current cart-->
          <form action="/carts/<%= @cart.id %>/checkouts" id="hosted-fields-form" method="post">
                <label for="card-number">Card Number</label>
                <div id="card-number" class='hosted-field'></div>

                <label for="cvv">CVV</label>
                <div id="cvv" class='hosted-field'></div>

                <label for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class='hosted-field'></div>

                <label for="postal_code">Postal Code</label>
                <input type='number' name='postal_code' id="postal_code" class='regular-field' required><br>

                <label for='first_name'>First Name</label><br>
                <input type='text' name='first_name' class='regular-field' id='first_name' required><br>

                <label for='last_name'>Last Name</label><br>
                <input type='text' name='last_name' class='regular-field' id='last_name' required><br>

                <label for='email'>Email</label><br>
                <input type='email' name='email' class='regular-field' id='email' required><br>

                <input type="submit" value="Pay" id='cart-submit' disabled />
                <input name='payment_method_nonce' id= 'payment_method_nonce' hidden >
                <input name='amount' id= 'amount' value="<%= @cart.amount %>" hidden >
                <input name='cart_id' id= 'cart_id' value="<%= @cart.id %>" hidden >
                <input name='card_type' id= 'card_type' hidden >
                <input name='data_collector' id= 'data_collector' hidden >
                <!--Line below required for Rails forms-->
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              </form>

        </div>
      </div>
  </div>

  <script src="https://js.braintreegateway.com/web/3.57.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.57.0/js/hosted-fields.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.57.0/js/data-collector.min.js"></script>

  <script>

      var form = document.querySelector('#hosted-fields-form');
      var submit = document.querySelector('input[type="submit"]');

      braintree.client.create({
        authorization: '<%= @client_token %>'
      }, function (clientErr, clientInstance) {
        if (clientErr) {
          console.error(clientErr);
          return;
        }

        braintree.dataCollector.create({
          client: clientInstance,
          kount: true
        }, function (err, dataCollectorInstance) {
          if (err) {
            console.error(err);
            return;
          }
          var deviceData = dataCollectorInstance.deviceData;
          console.log(dataCollectorInstance);
          document.querySelector('#data_collector').value = deviceData;
        });

        console.log(clientInstance)

        braintree.hostedFields.create({
          client: clientInstance,
          styles: {
            'input': {
              'font-size': '14px'
            },
            'input.invalid': {
              'color': 'red'
            },
            'input.valid': {
              'color': 'green'
            }
          },
          fields: {
            number: {
              selector: '#card-number',
              placeholder: '4111 1111 1111 1111'
            },
            cvv: {
              selector: '#cvv',
              placeholder: '123'
            },
            expirationDate: {
              selector: '#expiration-date',
              placeholder: '10/2029'
            }
          }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
          if (hostedFieldsErr) {
            console.error(hostedFieldsErr);
            return;
          }
          console.log(hostedFieldsInstance);
          submit.removeAttribute('disabled');
          document.querySelector('#first_name').placeholder = 'First Name';
          document.querySelector('#last_name').placeholder = 'Last Name';
          document.querySelector('#email').placeholder = 'Email';
          document.querySelector('#postal_code').placeholder = 'Postal Code';

          form.addEventListener('submit', function (event) {
            event.preventDefault();
            console.log(event);
            submit.setAttribute('disabled', true);
            hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
              if (tokenizeErr) {
                console.error(tokenizeErr);
                return;
              }

              console.log(payload.nonce);
              console.log(payload.details.cardType);
              document.querySelector('#payment_method_nonce').value = payload.nonce;
              document.querySelector('#card_type').value = payload.details.cardType;
              form.submit();

            });
          }, false);
        });
      });
</script>
